@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transición suave global para cambio de tema */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

body {
  @apply font-sans bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}
